/* /// Page Structure \\\ */

html, body {
	height: 100%;
	width: 100%;
}

html {
	font-family: "Lato", "Arial";
	padding: 0px;
	margin: 0px;
}

body {
	padding: 0;
	margin: 0;
}

#header {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 50px;
	width: 70%;
	display: table;
	background-color: #363635;
	border-bottom: 1px solid #363635;
}

#footer {
	width: 100%; 
	background-color: #363635;
	display: table;
	margin-top: 25px;
}

#main {
	position: relative;
	width: 100%;
}

.float-left, .float-right {
	width: 15%;
	height: 100%;
}

div#footer {
	height: 25px;
}

/* /// Page Structure END \\\ */


/* /// Main Background \\\ */

#bg-container {
	z-index: -2;
	position: absolute;
	height: 100%;
	width: 100%;
	background: url("../res/elephant.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#bg-container-solidcolour {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(131, 191, 23, 0.35);
}

/* /// Main Background END \\\ */


/* /// Header \\\ */

/* / Top Section \ */
#top-topbar {
	width: 100%;
	height: 50px;
	text-align: center;
}


#topbar-logo {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: absolute;
}

#topbar-logo img {
	height: 50px;
	width: 100px;
}

.topbar-title {
	margin: 0;
	display: inline-block;
	padding-top: 5px;
	font-size: 26px;
	color: #DCDDCD;
}

/* / Bottom Section \ */
#btm-topbar {
	width: 100%;
	display: table;
}

.topbar.active {
	border-bottom: 5px solid #F15D58;
}

.topbar {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 20%;
	height: 100%;
	display: table-cell;
	background-color: #5C5C5B;
	border-left: solid #DCDDCD;
	vertical-align: middle;
}

.inner-topbar {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: inline-block;
	font-size: 22px;
	color: #DCDDCD;
	text-decoration: none;
	text-align: center; 
	padding-top: 10px;
}

/* Un-centres text vertically because fuck css
/*.topbar a {
	height: 100%;
}*/

/* /// Header END \\\ */


/* /// Sidebars \\\ */

#main .float-left {
	float: left;
	left: 0px;
}

#main .float-right {
	float: right;
	right: 0px;
}

/* /// Sidebars END \\\ */


/* /// Mid-section \\\ */

.float-fill {
	background-color: rgba(166, 143, 88, 0.85);
	padding: 0;
	overflow: auto; 
	border-left: solid #363635;
	border-right: solid #363635;
	border-bottom: solid #363635;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.float-fill h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* /// Mid-section END \\\ */


/* /// Page Article / Segments \\\ */

.article-title {
	color: #0B2260;
	font-size: 20px;
}

.article-img {
	border: solid #363635;
	border-width: 2px;
	max-width: 150px;
	height: 90px;
}

.preview {
	text-align: justify;
	padding: 0 20px;
}

.segment {
	padding-top: 25px;
	padding-bottom: 15px;
	border-top: 1px solid #363635;
	position: relative;
}

.segment-odd {
	background-color: rgba(121, 104, 64, 0.5);
}

.segment .segment-left {
	text-align: center;
	float: left;
	display: inline-block;
	width: 155px;
	height: 100px;
	margin-right: 10px;
}

.preview::first-letter {
	font-size: 1.2em;
}

/* /// Page Article / Segments END \\\ */


/* /// Footer \\\ */

.footer-content {
	height: 100%;
	float: right;
	text-decoration: none;
	color: #DCDDCD;
	padding-right: 5px;
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
}

/* /// Footer END \\\ */


/* /// Uncategorised \\\ */

.sub-title, div.opentimes {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.sub-title {
	margin-top: 5px;
	margin-bottom: 10px;
}

/* /// Uncategorised END \\\ */

