/* /// Page Structure \\\ */

html, body {
	height: 100%;
	width: 100%;
}

html {
	font-family: "Lato", "Arial";
	padding: 0px;
	margin: 0px;
	background-color: gray;
}

body {
	padding: 0;
	margin: 0;
}

#header {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 50px;
	width: 70%;
	display: table;
	background-color: #363635;
}

#footer {
	width: 100%; 
	background-color: #363635;
	margin-top: 25px;
	/* hidden to expand if zoomed in and overflow occurs
		(not height: auto because floated elements apparently 
		have 0 height and won't be considered) */
	overflow: hidden;
	/* padding to fill out footer since above fits to text size*/
	padding-top: 3px;
	padding-bottom: 5px;
}

#main {
	position: relative;
	width: 100%;
}

.float-left, .float-right {
	width: 15%;
	height: 100%;
}

a {
	color: #0B2260;
}

a:hover {
	color: #3C4E80;
}

/* /// Page Structure END \\\ */


/* /// Main Background \\\ */

#bg-container {
	z-index: -2;
	position: absolute;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#bg-container-solidcolour {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(131, 191, 23, 0.35);
}

/* /// Main Background END \\\ */


/* /// Header \\\ */

/* / Top Section \ */
#top-topbar {
	width: 100%;
	height: auto;
	text-align: center;
}


#topbar-logo {
	float: left;
	display: inline-block;
	vertical-align: middle;
}

/* serves to balance the logo on the opposite side so the title stays centred
	(because floated logo ruins centring of title), even on zoom */
#topbar-right-balance {
	float: right;
	display: inline-block;
	vertical-align: middle;
	height: 50px;
	width: 100px;
}

#topbar-logo img {
	height: 50px;
	width: 100px;
}

.topbar-title {
	margin: 0;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 32px;
	color: #DCDDCD;
	position: relative;
	text-align: center;
}

/* / Bottom Section \ */
#btm-topbar {
	width: 100%;
	display: table;
}

.topbar.active {
	background-color: #7B7B7B;
	border-left: solid #FFA909 !important;
}

.topbar {
	float: left;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/* min-width so topbar tabs move to next line on browser resize */
	min-width: 20%;
	height: 100%;
	display: table-cell;
	background-color: #5C5C5B;
	border-left: solid #DCDDCD;
	vertical-align: middle;
	/* border-box means borders don't increase size of element */ 
	box-sizing: border-box; 
	-moz-box-sizing: border-box;
}

.topbar:hover {
	background-color: #707070;
}

.topbar.active:hover {
	background-color: #7F7F7F;
}

.inner-topbar {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: inline-block;
	font-size: 19px;
	color: #DCDDCD;
	text-decoration: none;
	text-align: center; 
	padding-top: 10px;
}

.topbar a {
	height: 100%;
}

/* /// Header END \\\ */


/* /// Sidebars \\\ */

#main .float-left {
	float: left;
	left: 0px;
}

#main .float-right {
	float: right;
	right: 0px;
}

/* /// Sidebars END \\\ */


/* /// Mid-section \\\ */

.float-fill {
	background-color: rgba(175, 157, 113, 0.85);
	padding: 0;
	overflow: auto; 
	border-left: solid #363635;
	border-right: solid #363635;
	border-bottom: solid #363635;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.float-fill h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* /// Mid-section END \\\ */


/* /// Page Article / Segments \\\ */

#title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 22px;
	padding: 0 20px;
}

.article-title {
	font-size: 20px;
}

.sub-title, .opentimes {
	border-top: 1px solid #363635;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.sub-title {
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.article-img, .article-img-large, #article-title-img {
	border: solid #363635;
	border-width: 2px;
}

.article-img {
	max-width: 150px;
	height: 90px;
}

.article-img-large {
	height: 120px;
	max-width: 200px;
}

.preview, .article {
	text-align: justify;
	padding: 0 20px;
}

.segment {
	padding-top: 25px;
	padding-bottom: 15px;
	border-top: 1px solid #363635;
	position: relative;
	/* overflow auto so style carries on if large image / video breaks boundaries */
	overflow: auto;
}

.segment-odd {
	background-color: rgba(145, 127, 73, 0.5);
}

.segment .segment-left, .segment-left-large {
	text-align: center;
	float: left;
	display: inline-block;
	width: 155px;
	height: 100px;
	margin-right: 10px;
}

.segment-left-large {
	width: 205px;
	height: 125px;
}

.return {
	display: inline-block;
	margin-left: 15px;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.article::first-letter, .preview::first-letter, #article-about::first-letter {
	font-size: 1.2em;
}

/* /// Page Article / Segments END \\\ */


/* /// Footer \\\ */

.footer-content, .footer-content-first {
	height: 20px;
	float: left;
	text-decoration: none;
	color: #DCDDCD;
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
}

.footer-content:hover, .footer-content-first:hover {
	color: #858FAF;
}

.footer-content-first {
	padding-left: 15px;
}

.footer-content {
	padding-left: 35px;
}

/* /// Footer END \\\ */


/* /// Large image article pages \\\ */

#article-title-img {
	width: 350px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
}

#article-about {
	text-align: justify;
	margin: 0px 15px;
}

/* /// Large image article pages END \\\ */


/* /// Pagination \\\ */

#pg-btns {
	border-top: 1px solid #363635;
	text-align: center;
}

.pg-btn {
	display: inline-block;
	margin: 10px 5px;
	border: 2px solid black;
	background-color: #DCDDCD;
	color: #363635;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

.active-pg {
	background-color: #363635;
	color: #DCDDCD;
}

/* /// Pagination END \\\ */


/* /// Other \\\ */

#credits-link {
	z-index: 1;
	background-color: gray;
	color: red;
	position: absolute;
	top: 0;
	right: 0;
}

#aboutVid {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 15px;
}
